<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Login</title>

    <style>
        .wrapper {
            text-align: center;
            margin: 5em auto;
            align-self: center;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h2>Enter your username</h2>
    <form id="loginForm" action="/chat" method="get">
        <input type="text" id="usernameInput" name="username" placeholder="Enter your username" required />
        <button type="submit">Join Chat</button>
    </form>

</div>
<script type="text/javascript">
        window.onload = function() {
            let storedUsername = localStorage.getItem('username');
            if (storedUsername) {
                window.location.href = '/chat?username=' + encodeURIComponent(storedUsername);
            }

            let loginForm = document.getElementById('loginForm');
            loginForm.onsubmit = function() {
                let username = document.getElementById('usernameInput').value;
                if (username) {
                    localStorage.setItem('username', username);
                }
            };
        };
    </script>
</body>
</html>
